<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.SysMenuDao">
	<select id="findAllObjects" resultType="map">
		select a.*, b.name as
		parentName from sys_menus a left join sys_menus b
		on a.parentId = b.id
	</select>
	<select id="findZtreeMenuNodes"
		resultType="com.cy.pj.common.vo.Node">
		select id, name, parentId from sys_menus
	</select>
	<insert id="insertObject">
		insert into sys_menus
		(name,url,type,sort,note,parentId,permission,
		createdTime,modifiedTime,createdUser,modifiedUser)
		values
		(#{name},#{url},#{type},#{sort},#{note},#{parentId},
		#{permission},now(),now(),#{createdUser},#{modifiedUser})
	</insert>
	<update id="updateObject"
		parameterType="com.cy.pj.sys.entity.SysMenu">
		update sys_menus set
		name=#{name},
		type=#{type},
		sort=#{sort},
		url=#{url},
		parentId=#{parentId},
		permission=#{permission},
		modifiedUser=#{modifiedUser},
		modifiedTime=now()
		where id=#{id}
	</update>
	<select id="findPermissions" resultType="string">
		select permission <!-- sys:user:update -->
		from sys_menus
		where id in
		<foreach collection="menuIds" open="(" close=")" separator=","
			item="item">
			#{item}
		</foreach>
	</select>
	<resultMap type="com.cy.pj.common.vo.SysUserMenuVo" id="sysUserMenuVo">
		<id property="id" column="pid"/>
		<result property="name" column="pname"/>
		<result property="url" column="purl"/>
		<collection property="children" ofType="com.cy.pj.common.vo.SysUserMenuVo">
			<id property="id" column="id"/>
			<result property="name" column="name"/>
			<result property="url" column="url"/>
		</collection>
	</resultMap>
	<select id="findUserMenus" resultMap="sysUserMenuVo">
		select p.id pid, p.name pname, p.url purl, c.id, c.name, c.url
		from
		sys_menus p join sys_menus c
		on c.parentId = p.id
		<where>
			<foreach collection="array" open="(" close=")" separator="or"
				item="menuId">
				c.id=#{menuId}
			</foreach>
			and p.parentId is null
		</where>
	</select>
</mapper>